ion-title{
    background-color: aqua;
    height: 50%;
    --color: #be2c99;
    text-align: center;
    padding: 0px 10px 10px 10px;
    top: 36%;
    font-size: 25px;
    font-family: sans-serif;
    width: 100%;
}

ion-tab-button{
    background-color: aqua;
    --color: #ba09ca;
}