<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Profile 
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <h1 class="title">User Profile</h1>
  
    <div class="profile-info">
      <ion-item>
        <h4><ion-label position="floating" color="success">Name</ion-label></h4>
        <ion-input value="Bruce Carian"></ion-input>
      </ion-item>
      <ion-item>
       <h4><ion-label position="floating" color="success">Address</ion-label></h4> 
        <ion-input value="New Cabalan"></ion-input>
      </ion-item>
      <ion-item>
       <h4><ion-label position="floating" color="success">City</ion-label></h4> 
        <ion-input value="Olongapo "></ion-input>
      </ion-item>
      <ion-item>
        <h4><ion-label position="floating" color="success">State</ion-label></h4>
        <ion-input value="Philippines"></ion-input>
      </ion-item>
      <ion-item>
      <h4><ion-label position="floating" color="success">Gender</ion-label></h4>
        <ion-input value="Male"></ion-input>
      </ion-item>
      <ion-item>
        <h4><ion-label position="floating" color="success">Email</ion-label></h4>
        <ion-input value="brucecarian@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <h4><ion-label position="floating" color="success">Phone Number</ion-label></h4>
        <ion-input value="0987 764 1123"></ion-input>
      </ion-item>
      <ion-item>
        <h4><ion-label position="floating" color="success">Breed of your Dog</ion-label></h4>
        <ion-input value="GreatDane"></ion-input>
      </ion-item>
    </div>

  <!-- codes for Avatar, Chips, Image, item, Card -->
  <div class="card-background-page">
    <ion-card>
      <ion-item>
        <ion-avatar class="avatar">
        <img src="assets/algen.jpg">
        </ion-avatar>
      </ion-item>
        <div class="card-title">Algen Carian</div>
        </ion-card>
        </div>
   
      <ion-list>
        <ion-item *ngFor="let item of [1,]; let i = index">
          <ion-avatar slot="start">
            <ion-img src="assets/art.png"></ion-img>
            </ion-avatar>
  
            <ion-label>Artist,Developer</ion-label>
            <ion-chip color="success" outline="true">
              <ion-label>Just Click</ion-label>
              <ion-icon name="heart-circle-outline"></ion-icon>
            </ion-chip>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header> Follow my Social Media account</ion-list-header>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/facebook.png">
          </ion-thumbnail>       
          <ion-label>
            <h3>My Facebook</h3></ion-label>
            <ion-button href="https://www.facebook.com/profile.php?id=100009259596781">click here</ion-button>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/ig.png">
          </ion-thumbnail>         
          <ion-label>
            <h3>My Instagram</h3>
            </ion-label>
          <ion-button href="https://www.instagram.com/carianalgen/">click here</ion-button>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/twitter.png">
          </ion-thumbnail>   
          <ion-label >
            <h3>My Twitter</h3>            
          </ion-label>
          <ion-button href="https://twitter.com/Algenaticx">click here</ion-button>
        </ion-item>
  </ion-list>


  
  
  

</ion-content>
