.avatar{
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: auto;
    background-image:"assets/background.jpg";
}
.card-title{
    padding: 0px 10px 10px 10px;
    top: 36%;
    font-size: 25px;
    font-family: sans-serif;
    width: 100%;
    color: rgb(241, 238, 44);
    text-align: center;
}