<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-background-page">
    <ion-card>
      <ion-item>
        <ion-avatar class="avatar">
        <img src="assets/cutelittlepuppy.jpg">
        </ion-avatar>
      </ion-item>
        <div class="card-title">Cute Litttle Puppy</div>
        </ion-card>
        </div>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="pin-outline" slot="start"> </ion-icon>
      <ion-label>Dog Breed Center</ion-label>
    </ion-item>
    </ion-card>

    <ion-card>
      <img src= "assets/dog.jpg">
      <ion-card-header>
        <ion-card-subtitle> Dog</ion-card-subtitle>
        <ion-card-title>  The Science of Cute: How Cuteness Makes Us Love Our Dogs</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        The dog or domestic dog is a domesticated canid. The dog is derived from an ancient, extinct wolf, and the modern grey wolf is the dog's nearest living relative.
         The dog was the first species to be domesticated, by hunter–gatherers over 15,000 years ago, before the development of agriculture. 
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src= "assets/dogbreeds.jpg">
      <ion-card-header>
        <ion-card-subtitle>Breeds</ion-card-subtitle>
        <ion-card-title>  The Science of Cute: How Cuteness Makes Us Love Our Dogs</ion-card-title>
      </ion-card-header>
    
      <ion-card-content >
        Dog breeds are groups of closely related and visibly similar domestic dogs, which are all of the subspecies Canis lupus familiaris, having characteristic traits that are selected and maintained by humans, bred from a known foundation stock. 
        The term dog breed is also used to refer to natural breeds or landraces, which arose through time in response to a particular environment that included humans, with little or no selective breeding by humans. Such breeds are undocumented, and are identified by their appearance and often by a style of working.
         Ancient dog breeds are some of the modern descendants of such natural breeds.</ion-card-content>
    </ion-card>


</ion-content>
