<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <!-- Back button with a default href -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-background-page">
    <ion-card>
      <ion-item>
        <ion-avatar class="avatar">
        <img src="assets/cutelittlepuppy.jpg">
        </ion-avatar>
      </ion-item>
        <div class="card-title">Cute Litttle Puppy</div>
        </ion-card>
        </div>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="pin-outline" slot="start"> </ion-icon>
      <ion-label>Dog Breed Center</ion-label>
    </ion-item>
    </ion-card>

    <ion-card>
      <img src= "assets/dog.jpg">
      <ion-card-header>
        <ion-card-subtitle> Dog</ion-card-subtitle>
        <ion-card-title>  The Science of Cute: How Cuteness Makes Us Love Our Dogs</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        The dog or domestic dog is a domesticated canid. The dog is derived from an ancient, extinct wolf, and the modern grey wolf is the dog's nearest living relative.
         The dog was the first species to be domesticated, by hunter–gatherers over 15,000 years ago, before the development of agriculture. 
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src= "assets/dogbreeds.jpg">
      <ion-card-header>
        <ion-card-subtitle>Breeds</ion-card-subtitle>
        <ion-card-title>  The Science of Cute: How Cuteness Makes Us Love Our Dogs</ion-card-title>
      </ion-card-header>
    
      <ion-card-content >
        Dog breeds are groups of closely related and visibly similar domestic dogs, which are all of the subspecies Canis lupus familiaris, having characteristic traits that are selected and maintained by humans, bred from a known foundation stock. 
        The term dog breed is also used to refer to natural breeds or landraces, which arose through time in response to a particular environment that included humans, with little or no selective breeding by humans. Such breeds are undocumented, and are identified by their appearance and often by a style of working.
         Ancient dog breeds are some of the modern descendants of such natural breeds.</ion-card-content>
    </ion-card>

    <ion-card>
      <img src= "assets/quadroplets.jpg">
      <ion-card-header>
        <ion-card-subtitle>Our Love</ion-card-subtitle>
        <ion-card-title>  The Science of Cute: How Cuteness Makes Us Love Our Dogs</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Think about the naughtiest thing your dog ever did. For me, it’s the time my dog Ralph got into the kitchen cupboard while I was out and tossed a bag of flour all over the house. I was frustrated when I came home to a find flour ground into the carpet, but then Ralph looked up at me with those big, round eyes, flour dusting her adorable nose, her sweet, soft ears flopping over as she tilted her head…how could I stay mad at a face like that?
  
        <br><br>Cuteness. It’s what makes us squee over puppy pics and rush to forgive our pets for the occasional naughty misstep. But why are dogs so cute? What is it about man’s best friend that turns even the toughest tough guy into a babytalking fool every time his dog rolls over for a belly rub? It turns out the science of cute is fascinating stuff.
      
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-item>
        <ion-label>What Makes a Dog Cute</ion-label>
        <ion-button href="https://www.rover.com/blog/science-cute-dogs/">>View</ion-button>
      </ion-item>
  
      <img src= "assets/cute1.jpg">
      <ion-card-content>
        To answer the question, “Why are dogs so cute?” we have to start by identifying what cuteness looks like.
        <br><br>
        Of course, we can all name cuteness when we see it (our own beloved pets being the cutest things in the whole wide world, of course). But there’s 
      actually a recognized list of characteristics that determine “cute,” all fitting under the German word kinderschema, or baby schema 
      </ion-card-content>
    </ion-card><br><br>



</ion-content>
